@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}
body {
    background-color: whitesmoke;
}
.accent-color {
    accent-color: #339b96;
}

input:focus,
textarea:focus,
select:focus {
    --tw-ring-color: transparent !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
.dataTables_length ,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate  {
    margin: 20px ;
}
.dataTables_info{
 color: #ACADAE !important;
}
.dataTables_length select {
    width: 60px;
}

.shadow-dark {
    box-shadow: 0px 0px 11px 0px #00000040;
}
table.dataTable{
 overflow-x: hidden !important;
}
table.dataTable tbody th,
table.dataTable tbody td {
padding: 18px 10px !important;
color: #323C47;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #E1E1E166;
}
